@import 'reset'
html
  font-size 62.5% 
  font-family Helvetica
html, body
  height 100%
p 
  font-size 1.6em
  line-height 1.8em
ul
  font-size 1.6em
  line-height 1.8em
section#login
  float left
section#wrapper
  display none
  width 100%
  height 100%
  float left
  section#left-column
    float left
    height 100%
    width 80%
    section#chat-box
      padding 2%
      width 96%
      height 81%
      float left
      p
        strong
          margin-right 10px
      p:nth-child(even) 
        background #fafafa
        
    section#message-box
      padding 2%
      height 11%
      float left
      width 96%
      textarea
        width 80%
        height 100%
  section#right-column
    padding 2%
    float left
    width 16%
    height 96%
    background #ccc
