@import 'reset'
html 
  font-family 'Terminal Dosis', sans-serif
  font-weight 500
  letter-spacing 0.1em
html, body
  height 100%
p 
  font-size 1.6em
  line-height 1.8em
ul
  font-size 1.6em
  line-height 1.8em
.logo
  float left
  font-size 2.25em
  font-family 'Terminal Dosis', sans-serif
  font-weight 700
  color white
  margin 1em 0.5em 1em 1em
  padding 0.35em 0.4em
  background-color #eb0080
  border none
  border-radius 10px
.stalk
  background-image url(../images/stalk.png) 
  position absolute
  height 25px
  width 20px
  top 5.7em
  left 3em
section#login
  float left
label
  position relative
  top 0.15em
  display inline
  margin-right 0.2em
  font-size 2em
  color #ddd
input#nickname
  color #fff
  font-size 2.25em
  font-family 'Terminal Dosis', sans-serif
  font-weight 400
  margin 1em 0
  width 6em
  padding 0.2em 0.4em
  background-color #eb0080
  border none
  border-radius 10px
input#thats-me
  font-size 2.25em
  font-family 'Terminal Dosis', sans-serif
  font-weight 400
  color white
  margin 1em 0.5em
  padding 0.2em 0.4em
  background-color #eb0080
  border none
  border-radius 10px
  box-shadow 0.2em 0.2em 0 #eb0080
  cursor pointer
section#wrapper
  display none
  width 100%
  height 100%
  float left
  section#left-column
    float left
    height 100%
    width 80%
    section#chat-box
      padding 2%
      width 96%
      height 81%
      float left
      p
        strong
          margin-right 10px
      p:nth-child(even) 
        background #fafafa
        
    section#message-box
      padding 2%
      height 11%
      float left
      width 96%
      textarea
        width 80%
        height 100%
  section#right-column
    padding 2%
    float left
    width 16%
    height 96%
    background #ddd
